{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% for message in app.flashes('delete') %}
    <div class="alert alert-danger">
        {{message}}
    </div>
{% endfor %}

<a href="{{ path ('create')}}" class="btn btn-primary">Add product</a>

<div class="container">

   <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
      <thead class="thead-dark">
         <tr>
      <th class="">TIITLE</th>
      <th class="">AUTHOR</th>
      <th class="">IMAGE</th>
      <th class="">PRICE</th>
      <th class="">CATEGORY</th>
      <th class="">QUANTITY</th>
      <th class="">CONTENT</th>
      <th></th>
         </tr>
      </thead>
      <tbody>
    {% for Product in Products %}
    <tr>
      <td class="text-center" ><h5>{{Product.title}}</h5></td>
      <td class="text-center"><h5>{{Product.author}}</h5></td>
      <td class="text-center" ><img style="max-width:120px" src="assets/images/{{Product.image}}"></td>
      <td class="text-center" ><h5>{{Product.price}}$</h5></td>
      <td class="text-center" ><h5>{{Product.category}}</h5></td>
      <td class="text-center" ><h5>{{Product.quantity}}</h5></td>
      <td class="text-center" ><h5>{{Product.content}}</h5></td>
      <td class="text-center"><a href="{{ path ('update',{id: Product.id})}}" class="btn btn-primary">Change</a>
      <hr><a href="{{ path ('delete',{id: Product.id})}}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Database diagram</h3>
<hr>
<img style="" src="../assets/images/Diagram.png">
<hr>
   


</div>
<!-- /.container -->
{% endblock %}
